<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Shem Mwangi</h2>
            <h4>shem.mwangi@mail.com</h4>
        </div>
        <img src="https://firebasestorage.googleapis.com/v0/b/mygallery-b05d6.appspot.com/o/image%2Fpuppy_1620558242023?alt=media&token=5a9c5f81-be16-4ebd-9887-20140fda8ba6" alt="" />
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Address Book
    </a>

</mat-nav-list>